/DesafioCRUD/br.com.business.ec6.crud/nbproject/private/
/DesafioCRUD/br.com.comuns.ec6.crud/nbproject/private/
/DesafioCRUD/br.com.dao.ec6.crud/nbproject/private/
/DesafioCRUD/br.com.ec6.crud.console/nbproject/private/
/DesafioCRUD/br.com.comuns.ec6.crud/build/
/DesafioCRUD/br.com.ec6.crud.console/build/
/DesafioCRUD/br.com.business.ec6.crud/build/
/DesafioCRUD/br.com.comuns.ec6.crud/dist/
/DesafioCRUD/br.com.dao.ec6.crud/build/
/DesafioCRUD/br.com.dao.ec6.crud/dist/
/DesafioCRUD/br.com.business.ec6.crud/dist/